@{
    Layout = null;
}
<div class="text-center">
    <h1>Система электронной очереди</h1>
    <ul class="links">
        <li><a href="/Operator/Index">Оператор</a></li>
        <li><a href="/Terminal/Index">Терминал</a></li>
        <li><a href="/Viewer/Index">Просмотрщик</a></li>
    </ul>
</div>
