@using ElectronicQueue.Database.Models
@model QueueItem
@{
    Layout = null;
}
<div class="text-center">
    <h1 align ="center">Ваш талон @Model.Number</h1>
    <h3>Автоматическая переадресация через <span id="seconds">5</span> секунд</h3>
</div>
<script>
    const secondsEl = document.getElementById('seconds');
    let seconds = 5;

    const interval = setInterval(() => {
        secondsEl.textContent = seconds;
        seconds--;

        if (seconds === 0) {
            clearInterval(interval);
            window.location.href = "/Terminal/Index";
        }
    }, 1000);
</script>